{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block body %}
<header>
	<section id="global-nav">
		<nav>
			<ul class="projects">
					<li class="project jquery"><a href="http://jquery.com/" title="jQuery">jQuery</a></li>
					<li class="project" ><a href="http://plugins.jquery.com/"><img src="static/img/facebook.png" /></a></li>
				</ul>
			<ul class="links l_tinynav2">
					
					<li><a href="en">English</a></li>
					<li><a href="fr">Francais</a></li>
					<li><a href="zh">中文</a></li>
				</ul>
		</nav>
	</section>


</header>
<div id="container">
	<div id="logo-events" class="constrain clearfix">
		<h2 class="logo"><a href="/" title="Le Manoir de Juganville">Le Manoir de Juganville</a></h2>

		<!--Ads or events
		<aside></aside> -->
	</div>
<div class="sidebar" ></div>
<div class="main page ui-corner-all ui-widget-content" id="listStories"></div>
<div class="main page ui-corner-all ui-widget-content" id="oneStory"></div>
</div>
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% block extra_body %}{% endblock %}
{% endblock %}