{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block body %}
<div id="header">
<a href="http://127.0.0.1" class="ui-corner-all">home</a>
</div>
<div class="sidebar" ></div>
<div class="main page ui-corner-all ui-widget-content" id="listStories"></div>
<div class="main page ui-corner-all ui-widget-content" id="oneStory"></div>
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% block extra_body %}{% endblock %}
{% endblock %}