{% if story_list %}
    
    {% for story in story_list %}
		{% for picture in story.picture_set.all %}
			{% if picture.is_main == True %}
	    		<section class="story" id="main-{{story.id}}"  >
        
        		<a href="{% url 'stories:detail' story.id %}">
				<img class="story" src="/media/{{ picture.image.name }}" data-width="{{ picture.width }}" data-height="{{ picture.height }}"/>

				<h2>{{ story.title }}</h2>
				</a>
				</section>
			{% endif %}
		{% endfor %}
    {% endfor %}
{% else %}
    <p>No stories are available.</p>
{% endif %}